.div-name{
    height: 80%;
    width: 80%;
    margin-left: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.div-para{
    height: 19%;
    width: 30%;
    margin-top: 29%;
    margin-left: 18%;
    background-color: transparent;
    position: absolute;
    z-index: 3;
}

.div-photo{
    height: 70%;
    width: 25%;
    margin-top: 3%;
    margin-left: 50%;
    background-image: url("/img/laksithanayanajith.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-color: rgb(184, 172, 172);
    position: absolute;
    z-index: 1;
}

p{
  color: aliceblue;
  opacity: 0.8;
  font-size: larger;
  font-weight: normal;
}


* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 700px;
  position: relative;
  font-size: 150px;
  padding: 30px;
  margin-left: 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "Glitch";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@media (min-width: 768px) and (max-width: 1024px){
  .div-name{
    font-size: 20px;
    font: optional;
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(126px, 350px, 139px, 30px);
  }
  5% {
    clip: rect(54px, 350px, 87px, 30px);
  }
  10% {
    clip: rect(35px, 350px, 126px, 30px);
  }
  15% {
    clip: rect(2px, 350px, 145px, 30px);
  }
  20% {
    clip: rect(30px, 350px, 10px, 30px);
  }
  25% {
    clip: rect(51px, 350px, 97px, 30px);
  }
  30% {
    clip: rect(116px, 350px, 99px, 30px);
  }
  35% {
    clip: rect(115px, 350px, 75px, 30px);
  }
  40% {
    clip: rect(74px, 350px, 38px, 30px);
  }
  45% {
    clip: rect(85px, 350px, 63px, 30px);
  }
  50% {
    clip: rect(85px, 350px, 140px, 30px);
  }
  55% {
    clip: rect(87px, 350px, 21px, 30px);
  }
  60% {
    clip: rect(106px, 350px, 100px, 30px);
  }
  65% {
    clip: rect(16px, 350px, 104px, 30px);
  }
  70% {
    clip: rect(65px, 350px, 15px, 30px);
  }
  75% {
    clip: rect(67px, 350px, 131px, 30px);
  }
  80% {
    clip: rect(134px, 350px, 132px, 30px);
  }
  85% {
    clip: rect(9px, 350px, 1px, 30px);
  }
  90% {
    clip: rect(69px, 350px, 41px, 30px);
  }
  95% {
    clip: rect(28px, 350px, 47px, 30px);
  }
  100% {
    clip: rect(126px, 350px, 116px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(108px, 350px, 102px, 30px);
  }
  5% {
    clip: rect(144px, 350px, 145px, 30px);
  }
  10% {
    clip: rect(69px, 350px, 141px, 30px);
  }
  15% {
    clip: rect(58px, 350px, 136px, 30px);
  }
  20% {
    clip: rect(15px, 350px, 58px, 30px);
  }
  25% {
    clip: rect(134px, 350px, 54px, 30px);
  }
  30% {
    clip: rect(47px, 350px, 33px, 30px);
  }
  35% {
    clip: rect(117px, 350px, 8px, 30px);
  }
  40% {
    clip: rect(88px, 350px, 21px, 30px);
  }
  45% {
    clip: rect(111px, 350px, 37px, 30px);
  }
  50% {
    clip: rect(24px, 350px, 23px, 30px);
  }
  55% {
    clip: rect(42px, 350px, 100px, 30px);
  }
  60% {
    clip: rect(4px, 350px, 63px, 30px);
  }
  65% {
    clip: rect(52px, 350px, 4px, 30px);
  }
  70% {
    clip: rect(68px, 350px, 2px, 30px);
  }
  75% {
    clip: rect(92px, 350px, 73px, 30px);
  }
  80% {
    clip: rect(142px, 350px, 108px, 30px);
  }
  85% {
    clip: rect(123px, 350px, 2px, 30px);
  }
  90% {
    clip: rect(17px, 350px, 99px, 30px);
  }
  95% {
    clip: rect(5px, 350px, 74px, 30px);
  }
  100% {
    clip: rect(63px, 350px, 150px, 30px);
  }
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 4s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 5s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 8s;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

button:before, button:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

section.container{
    min-width: 500px;
    margin: 10% auto;
    text-align: center;
  }
    a:hover{border-bottom: 1px solid rgb(223, 235, 223);} 
    h1{font-size: 2em; padding: 20px 0;}
    p{
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 0;
    }

    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid rgb(159, 243, 3);
      padding: 15px 50px;
      overflow: hidden;
      color: rgb(255, 255, 255);
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }

